* {
	box-sizing: border-box;
}

body{
	width: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #333;
}
.wrap-page{
	max-width: 1440px;
	min-height: 600px;
	width: 100%;
	margin: 0 auto;
}
.box-form{
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;
	text-align: center;
	background-color: #2eb249;
}
form{
	position: absolute;
	width: 490px;
	height: 390px;
	background-color: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.3);
	padding: 60px;
}
.box-field{
	position: relative;
	width: 100%;
	margin-bottom: 21px;
}
.form-control{
	width: 100%;
	min-width: 370px;
	height: 63px;
	font-size: 1.2em;
	line-height: 63px;
	padding: 0 20px;
	border: 0;
	outline: none;
	background: #f2f2f2;
}
.form-control:focus{
	box-shadow: 0 0 3px 0 blue;
}
.btn{
	display: block;
	width: 100%;
	height: 64px;
	line-height: 64px;
	background: #00b24c;
	font-size: 1.4em;
	font-weight: 300;
	letter-spacing: 0.2px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.3s ease;
	cursor: pointer;
	border: 0;
	outline: none;
}
.btn:hover{
	box-shadow: 2px 2px 5px 0 rgba(0, 178, 76, 0.7);
	border: 1px solid rgba(0, 178, 76, 0.7);
	background: #fff;
	color: #00b24c;
}
.new-user__text{
	color: #a7a7a7;
}
.new-user__link{
	text-decoration: none;
	color: rgb(60, 214, 92);
	border-bottom: 1px dashed transparent;
	transition: all 0.3s ease;
}
.new-user__link:hover{
	border-bottom: 1px dashed rgb(27, 162, 55);
	color:  rgb(27, 162, 55);
}


.field-empty{
	box-shadow: 0 0 3px 0 red;
}
.field-empty::after{
	content: 'Пустое поле!';
	position: absolute;
	display: inline-block;
	background: #f2f2f2;
	color: red;
	top: 20px;
	left: 0;
	padding: 5px 15px;
}

/*style placeholder*/
input::placeholder {
  color: #a7a7a7;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a7a7a7;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #a7a7a7;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #a7a7a7;
}
input  color: #a7a7a7;
}